/* body{
    font-style: italic;
} */
.Main-Header{
    background-color: blue;
}
.First-blog{
    background-color: blueviolet;
    /* Ellipse 3 */

    position: absolute;
    width: 256px;
    height: 256px;
    left: 0px;
    top: 256px;
    background: #000000;

}

  